.App {
  text-align: center;
  /* background-color: #282c34; */
  background-image: url("../assets/img/13591.jpg");
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  /* left: var(--x);
  top: var(--y); */
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.rover {
  left: var(--x);
  top: var(--y);
}
.start {
  color: rgb(20, 11, 11);
  font-weight: bold;
}
.result {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* _____[keypress style]_____ */

.forwards {
  /* animation: stretch 1.5s ease-out 0s alternate infinite none running; */
  grid-column: 5;
  color: green;
}

/* App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
