.App {
  text-align: center;
  background-image: url("../assets/img/marsGround.jpg");
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 11, 11);
  font-weight: bold;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.rover {
  left: var(--x);
  top: var(--y);
}
.start {
  color: rgb(20, 11, 11);
  font-weight: bold;
}
.result {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.forwards {
  grid-column: 5;
  color: green;
}
